{% extends 'base.html.twig' %}

{% block title %}Nouveau User{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="new">Nouveau Utilisateur</h1>

        {{ include('user/_form.html.twig') }}

       <div class="retour"><a href="{{ path('user_index') }}">Retour à la liste</a></div> 
    </div>
{% endblock %}
